div(class="main")
	div
		img(src="../img/jager.jpeg" class="img-center")
	div(class="header")
		h1 JägerConf 2015 - The Hunger Games of Conferences
		h1 Quarter Quell - Only survivors from past events
		p No registration, no Call for Papers - invite only
		p Don't call us, we'll call you
