div(class="main")
	div
		img(src="../img/jager.jpeg" class="img-center")
	div(class="header")
		h1 JägerConf 2014
		p No registration, no Call for Papers - invite only
		p Don't call us, we'll call you