body {
  font: 14px "Koenig Type Regular", Helvetica, Arial, sans-serif;
  background-color: #000000;
}

a {
  color: #00B7FF;
}

@font-face {
	font-family: "Koenig Type Regular";
	src: url('../fonts/Koenigtype-reg.ttf')

}

.main {
	background-color: #0B0B0B;
}

.img-center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.header {
	color: rgba(232,122,58, 1); 
	text-align: center;
}