body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
}

a {
  color: #00B7FF;
}

.main {
	background-color: #000000;
}

.img-center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.header {
	color: #ffffff;
	text-align: center;
}